.nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid #ffffff84;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    text-decoration: none;
    font-size: 20px;
    font-weight: 450;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.logo {
    height: 5vh;
    width: auto;
}


.nav_menu,
.buttons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
}

.navlink {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px;
    font-size: 16px;
    position: relative;
    letter-spacing: 0.05em;
}

.navlink:hover {
    color: #ffffffc1;
    transition: all 0.2s ease-in;

}

.navlink:hover::after {
    transition: all 0.2s ease-in;
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffffe3;
    left: 0;
    bottom: 0;
    opacity: 1;
}

.login {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;

}

.login:hover{
    color: #ffffffc1;
    transition: all 0.2s ease-in;

}



.signup {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding-inline: 15px;
    padding-block: 10px;
    transition: all 0.2s ease-in;
}

.signup:hover{
    background-color: #FFFFFF;
    color: black;
}

/* 
.btn{

    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-inline: 25px;
    padding-block: 8px;
    margin-right: 10vh;
    border: 1px solid #FFFFFF;
    transition: background-color 0.2s ease-in;


}

.btn:hover{
    background-color: rgb(255, 255, 255, 0.9);
    color: black;
} */
